.debug{
    background-color: rgba(165, 42, 42, 0.219);
}



body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("img/sidebar-bg.png");
}

header{
    height: 60px;
    background-color: white;
    position: fixed;
    z-index: 999;
}

main{
    margin-left: 140px;
    padding-top: 60px;
    overflow: hidden;
}
a{
    text-decoration: none;
    color: white;
}

.form-control:focus{
    border-color: green;
    box-shadow: 0 0 0 .1rem green;
}
.form-select:focus{
    box-shadow: 0 0 0 .1rem green;
    border-color: green;
    
}

/*HEADER*/
.img-mobile{
    width: 50px;
    height: 50px;
}

.dc-form-bg{
    background-color: #E5E5E5;
}

.dc-form-color{
    color: #D2D2D2;
}

.dc-dd-menu{
    left: -160px !important;
}
/*---------------------------------*/



/*LEFT-MENU*/
.left-menu{
    background-color: #051E34;
    margin-top: 60px;
    width: 140px;
    height: 100vh;
    position: fixed;
    background-image: url(../img/sidebar-bg.png);
}

.left-menu .bg-left:hover{
    background-color: rgba(255, 255, 255, 0.479);
}   

.bot-menu{
margin-bottom: 110px;
}
/*--------------------*/

/*MAIN*/

/*MAIN MENU*/
main .dc-row{
    background-color:#1B72E8; 
}
main .dc-span{
    background-color: #165BBA;
    border-radius: 20px;
    padding: 2px 10px;
    font-size: 15px;
}

main .dc-span:hover{
    background-color: rgba(255, 255, 255, 0.479);
    cursor: pointer;
}   



/*OFFCANVAS*/
.offcanvas.offcanvas-end{
    width: 720px !important;
}

.input-group-text{
    background-color: #D5DADF;
}



/*GRAPHICS*/



main table{
    font-size: 14px;
    
}

main th img{
    width: 30px;
}

main td i{
    border: 1px solid #C2C6C9;
    color: #C2C6C9;
    padding: 5px;
}



.dc-borders{
    border: 1px solid #C2C6C9;
    border-radius: 5px ;
    padding: 10px;
}
/*-------------------------*/


@media screen  and (max-width: 991px){

    .left-menu{
        width: 80px;
    }

    main{
        margin-left: 80px;
    }
 }

 /*------------------------------------*/
    
