body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    height: 80px;
}

.form-control:focus{
    border-color: black;
    box-shadow: none;
}


.dc-form-bg{
    background-color: #E5E5E5;
}

.dc-form-color{
    color: #D2D2D2;
}

.dc-dd-menu{
    left: -160px !important;
}
